<div class="container">
    <h2>Fale conosco</h2>
    <div class="jumbotron">
        <span>Se você tiver uma dúvida ou sugestão fale conosco</span>
        <h5>
            <email address="vitor.mancini21@hotmail.com" body="Enviar um email"></email>
        </h5>
    </div>
</div>