@model Product

<div class="col-sm-4 col-md-4 col-lg-4">
    <img src="~/images/@Model.ImageURL" class="img-fluid" />
    <p>@Model.Price</p>
    <h4>@Model.Name</h4>
    <p>@Model.ShortDescription</p>
</div>